<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ManualConfig" type="ALS.Cls.Method_Config, ALS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="CHDFConfig" type="ALS.Cls.Method_Config, ALS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="PERTConfig" type="ALS.Cls.Method_Config, ALS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="PPConfig" type="ALS.Cls.Method_Config, ALS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="Li-ALSConfig" type="ALS.Cls.Method_Config, ALS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="PEConfig" type="ALS.Cls.Method_Config, ALS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="PDFConfig" type="ALS.Cls.Method_Config, ALS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <ManualConfig name="手动" ID="5">
    <add key="BPSpeed" value="100.0"/>
    <add key="BPDirection" value="true"/>
    <add key="BPValid" value="true"/>
    <add key="FPSpeed" value="30.0"/>
    <add key="FPDirection" value="true"/>
    <add key="FPValid" value="true"/>
    <add key="DPSpeed" value="30.0"/>
    <add key="DPDirection" value="true"/>
    <add key="DPValid" value="true"/>
    <add key="RPSpeed" value="30.0"/>
    <add key="RPDirection" value="true"/>
    <add key="RPValid" value="true"/>
    <add key="FP2Speed" value="30.0"/>
    <add key="FP2Direction" value="true"/>
    <add key="FP2Valid" value="true"/>
    <add key="CPSpeed" value="30.0"/>
    <add key="CPDirection" value="true"/>
    <add key="CPValid" value="true"/>
    <add key="dehydrationSpeed" value="0.0"/>
    <add key="dehydrationValid" value="false"/>
    <add key="TargetTimeH" value="06"/>
    <add key="TargetTimeMin" value="00"/>
    <add key="IsTargetTime" value="true"/>
    <add key="TargetBP" value="5.0"/>
    <add key="IsTargetBP" value="true"/>
    <add key="TargetDP" value="5.0"/>
    <add key="IsTargetDP" value="true"/>
    <add key="TargetSP" value="200.0"/>
    <add key="IsTargetSP" value="true"/>
    <add key="TargetRP" value="5.0"/>
    <add key="IsTargetRP" value="true"/>
    <add key="TargetFP" value="5.0"/>
    <add key="IsTargetFP" value="false"/>
    <add key="Concentration" value="40"/>
    <add key="PEFlushOut" value="1000"/>
    <add key="PEFlushIn" value="2000"/>
    <add key="SP_Speed" value="5.0"/>
    <add key="SP_RapidInjectionValue" value="5.0"/>
    <add key="TargetT" value="38"/>
    <add key="PaccUpper" value="500"/>
    <add key="PaccLower" value="-250"/>
    <add key="PartUpper" value="250"/>
    <add key="PartLower" value="-250"/>
    <add key="PvenUpper" value="250"/>
    <add key="PvenLower" value="0"/>
    <add key="P1stUpper" value="250"/>
    <add key="P1stLower" value="-300"/>
    <add key="P2ndUpper" value="400"/>
    <add key="P2ndLower" value="-100"/>
    <add key="TmpUpper" value="250"/>
    <add key="TmpLower" value="-100"/>
    <add key="PrePaccLower" value="0"/>
    <add key="PrePvenUpper" value="0"/>
    <add key="PrePartUpper" value="0"/>
    <add key="BloodLeak" value="1900"/>    
  </ManualConfig>
  <CHDFConfig name="CVVHDF" ID="4">
    <add key="BPSpeed" value="100.0"/>
    <add key="BPDirection" value="true"/>
    <add key="BPValid" value="true"/>
    <add key="FPSpeed" value="30.0"/>
    <add key="FPDirection" value="true"/>
    <add key="FPValid" value="true"/>
    <add key="DPSpeed" value="30.0"/>
    <add key="DPDirection" value="true"/>
    <add key="DPValid" value="true"/>
    <add key="RPSpeed" value="30.0"/>
    <add key="RPDirection" value="true"/>
    <add key="RPValid" value="true"/>
    <add key="FP2Speed" value="30.0"/>
    <add key="FP2Direction" value="true"/>
    <add key="FP2Valid" value="false"/>
    <add key="CPSpeed" value="30.0"/>
    <add key="CPDirection" value="true"/>
    <add key="CPValid" value="false"/>
    <add key="dehydrationSpeed" value="200.0"/>
    <add key="dehydrationValid" value="true"/>
    <add key="TargetTimeH" value="06"/>
    <add key="TargetTimeMin" value="00"/>
    <add key="IsTargetTime" value="true"/>
    <add key="TargetBP" value="5.0"/>
    <add key="IsTargetBP" value="true"/>
    <add key="TargetDP" value="5.0"/>
    <add key="IsTargetDP" value="true"/>
    <add key="TargetSP" value="200.0"/>
    <add key="IsTargetSP" value="true"/>
    <add key="TargetRP" value="5.0"/>
    <add key="IsTargetRP" value="true"/>
    <add key="TargetFP" value="5.0"/>
    <add key="IsTargetFP" value="false"/>
    <add key="Concentration" value="40"/>
    <add key="PEFlushOut" value="1000"/>
    <add key="PEFlushIn" value="2000"/>
    <add key="SP_Speed" value="5.0"/>
    <add key="SP_RapidInjectionValue" value="5.0"/>
    <add key="TargetT" value="38"/>
    <add key="PaccUpper" value="500"/>
    <add key="PaccLower" value="-250"/>
    <add key="PartUpper" value="250"/>
    <add key="PartLower" value="-250"/>
    <add key="PvenUpper" value="250"/>
    <add key="PvenLower" value="0"/>
    <add key="P1stUpper" value="250"/>
    <add key="P1stLower" value="-300"/>
    <add key="P2ndUpper" value="400"/>
    <add key="P2ndLower" value="-100"/>
    <add key="TmpUpper" value="250"/>
    <add key="TmpLower" value="-100"/>
    <add key="PrePaccLower" value="0"/>
    <add key="PrePvenUpper" value="0"/>
    <add key="PrePartUpper" value="0"/>
    <add key="BloodLeak" value="1900"/>
  </CHDFConfig>
  <PERTConfig name="PERT" ID="3">
    <add key="BPSpeed" value="100.0"/>
    <add key="BPDirection" value="true"/>
    <add key="BPValid" value="true"/>
    <add key="FPSpeed" value="30.0"/>
    <add key="FPDirection" value="true"/>
    <add key="FPValid" value="true"/>
    <add key="DPSpeed" value="30.0"/>
    <add key="DPDirection" value="true"/>
    <add key="DPValid" value="true"/>
    <add key="RPSpeed" value="30.0"/>
    <add key="RPDirection" value="true"/>
    <add key="RPValid" value="true"/>
    <add key="FP2Speed" value="30.0"/>
    <add key="FP2Direction" value="true"/>
    <add key="FP2Valid" value="true"/>
    <add key="CPSpeed" value="30.0"/>
    <add key="CPDirection" value="true"/>
    <add key="CPValid" value="true"/>
    <add key="dehydrationSpeed" value="0.0"/>
    <add key="dehydrationValid" value="false"/>
    <add key="TargetTimeH" value="06"/>
    <add key="TargetTimeMin" value="00"/>
    <add key="IsTargetTime" value="true"/>
    <add key="TargetBP" value="5.0"/>
    <add key="IsTargetBP" value="true"/>
    <add key="TargetDP" value="5.0"/>
    <add key="IsTargetDP" value="true"/>
    <add key="TargetSP" value="200.0"/>
    <add key="IsTargetSP" value="true"/>
    <add key="TargetRP" value="5.0"/>
    <add key="IsTargetRP" value="true"/>
    <add key="TargetFP" value="5.0"/>
    <add key="IsTargetFP" value="false"/>
    <add key="Concentration" value="40"/>
    <add key="PEFlushOut" value="1000"/>
    <add key="PEFlushIn" value="2000"/>
    <add key="SP_Speed" value="5.0"/>
    <add key="SP_RapidInjectionValue" value="5.0"/>
    <add key="TargetT" value="38"/>
    <add key="PaccUpper" value="500"/>
    <add key="PaccLower" value="-250"/>
    <add key="PartUpper" value="250"/>
    <add key="PartLower" value="-250"/>
    <add key="PvenUpper" value="250"/>
    <add key="PvenLower" value="0"/>
    <add key="P1stUpper" value="250"/>
    <add key="P1stLower" value="-300"/>
    <add key="P2ndUpper" value="400"/>
    <add key="P2ndLower" value="-100"/>
    <add key="TmpUpper" value="250"/>
    <add key="TmpLower" value="-100"/>
    <add key="PrePaccLower" value="0"/>
    <add key="PrePvenUpper" value="0"/>
    <add key="PrePartUpper" value="0"/>
    <add key="BloodLeak" value="1900"/>
  </PERTConfig>
  <PPConfig name="PP" ID="2">
    <add key="BPSpeed" value="100.0"/>
    <add key="BPDirection" value="true"/>
    <add key="BPValid" value="true"/>
    <add key="FPSpeed" value="30.0"/>
    <add key="FPDirection" value="true"/>
    <add key="FPValid" value="true"/>
    <add key="DPSpeed" value="30.0"/>
    <add key="DPDirection" value="true"/>
    <add key="DPValid" value="true"/>
    <add key="RPSpeed" value="30.0"/>
    <add key="RPDirection" value="true"/>
    <add key="RPValid" value="true"/>
    <add key="FP2Speed" value="30.0"/>
    <add key="FP2Direction" value="true"/>
    <add key="FP2Valid" value="true"/>
    <add key="CPSpeed" value="30.0"/>
    <add key="CPDirection" value="true"/>
    <add key="CPValid" value="true"/>
    <add key="dehydrationSpeed" value="0.0"/>
    <add key="dehydrationValid" value="false"/>
    <add key="TargetTimeH" value="06"/>
    <add key="TargetTimeMin" value="00"/>
    <add key="IsTargetTime" value="true"/>
    <add key="TargetBP" value="5.0"/>
    <add key="IsTargetBP" value="true"/>
    <add key="TargetDP" value="5.0"/>
    <add key="IsTargetDP" value="true"/>
    <add key="TargetSP" value="200.0"/>
    <add key="IsTargetSP" value="true"/>
    <add key="TargetRP" value="5.0"/>
    <add key="IsTargetRP" value="true"/>
    <add key="TargetFP" value="5.0"/>
    <add key="IsTargetFP" value="false"/>
    <add key="Concentration" value="40"/>
    <add key="PEFlushOut" value="1000"/>
    <add key="PEFlushIn" value="2000"/>
    <add key="SP_Speed" value="5.0"/>
    <add key="SP_RapidInjectionValue" value="5.0"/>
    <add key="TargetT" value="38"/>
    <add key="PaccUpper" value="500"/>
    <add key="PaccLower" value="-250"/>
    <add key="PartUpper" value="250"/>
    <add key="PartLower" value="-250"/>
    <add key="PvenUpper" value="250"/>
    <add key="PvenLower" value="0"/>
    <add key="P1stUpper" value="250"/>
    <add key="P1stLower" value="-300"/>
    <add key="P2ndUpper" value="400"/>
    <add key="P2ndLower" value="-100"/>
    <add key="TmpUpper" value="250"/>
    <add key="TmpLower" value="-100"/>
    <add key="PrePaccLower" value="0"/>
    <add key="PrePvenUpper" value="0"/>
    <add key="PrePartUpper" value="0"/>
    <add key="BloodLeak" value="1900"/>
  </PPConfig>
  <Li-ALSConfig name="李氏人工肝" ID="1">
    <add key="BPSpeed" value="100.0"/>
    <add key="BPDirection" value="true"/>
    <add key="BPValid" value="true"/>
    <add key="FPSpeed" value="30.0"/>
    <add key="FPDirection" value="true"/>
    <add key="FPValid" value="true"/>
    <add key="DPSpeed" value="30.0"/>
    <add key="DPDirection" value="true"/>
    <add key="DPValid" value="true"/>
    <add key="RPSpeed" value="30.0"/>
    <add key="RPDirection" value="true"/>
    <add key="RPValid" value="true"/>
    <add key="FP2Speed" value="30.0"/>
    <add key="FP2Direction" value="true"/>
    <add key="FP2Valid" value="true"/>
    <add key="CPSpeed" value="30.0"/>
    <add key="CPDirection" value="true"/>
    <add key="CPValid" value="true"/>
    <add key="dehydrationSpeed" value="0.0"/>
    <add key="dehydrationValid" value="false"/>
    <add key="TargetTimeH" value="06"/>
    <add key="TargetTimeMin" value="00"/>
    <add key="IsTargetTime" value="true"/>
    <add key="TargetBP" value="5.0"/>
    <add key="IsTargetBP" value="true"/>
    <add key="TargetDP" value="5.0"/>
    <add key="IsTargetDP" value="true"/>
    <add key="TargetSP" value="200.0"/>
    <add key="IsTargetSP" value="true"/>
    <add key="TargetRP" value="5.0"/>
    <add key="IsTargetRP" value="true"/>
    <add key="TargetFP" value="5.0"/>
    <add key="IsTargetFP" value="false"/>
    <add key="Concentration" value="40"/>
    <add key="PEFlushOut" value="1000"/>
    <add key="PEFlushIn" value="2000"/>
    <add key="SP_Speed" value="5.0"/>
    <add key="SP_RapidInjectionValue" value="5.0"/>
    <add key="TargetT" value="38"/>
    <add key="PaccUpper" value="500"/>
    <add key="PaccLower" value="-250"/>
    <add key="PartUpper" value="250"/>
    <add key="PartLower" value="-250"/>
    <add key="PvenUpper" value="250"/>
    <add key="PvenLower" value="0"/>
    <add key="P1stUpper" value="250"/>
    <add key="P1stLower" value="-300"/>
    <add key="P2ndUpper" value="400"/>
    <add key="P2ndLower" value="-100"/>
    <add key="TmpUpper" value="250"/>
    <add key="TmpLower" value="-100"/>
    <add key="PrePaccLower" value="0"/>
    <add key="PrePvenUpper" value="0"/>
    <add key="PrePartUpper" value="0"/>
    <add key="BloodLeak" value="1900"/>
  </Li-ALSConfig>
  <PEConfig name="PE" ID="0">
    <add key="BPSpeed" value="120"/>
    <add key="BPDirection" value="true"/>
    <add key="BPValid" value="true"/>
    <add key="FPSpeed" value="25.0"/>
    <add key="FPDirection" value="true"/>
    <add key="FPValid" value="true"/>
    <add key="DPSpeed" value="25.0"/>
    <add key="DPDirection" value="true"/>
    <add key="DPValid" value="true"/>
    <add key="RPSpeed" value="25.0"/>
    <add key="RPDirection" value="true"/>
    <add key="RPValid" value="true"/>
    <add key="FP2Speed" value="25.0"/>
    <add key="FP2Direction" value="true"/>
    <add key="FP2Valid" value="false"/>
    <add key="CPSpeed" value="25.0"/>
    <add key="CPDirection" value="true"/>
    <add key="CPValid" value="false"/>
    <add key="dehydrationSpeed" value="0.0"/>
    <add key="dehydrationValid" value="false"/>
    <add key="TargetTimeH" value="06"/>
    <add key="TargetTimeMin" value="00"/>
    <add key="IsTargetTime" value="true"/>
    <add key="TargetBP" value="5.0"/>
    <add key="IsTargetBP" value="false"/>
    <add key="TargetDP" value="5.0"/>
    <add key="IsTargetDP" value="false"/>
    <add key="TargetSP" value="200.0"/>
    <add key="IsTargetSP" value="false"/>
    <add key="TargetRP" value="5.0"/>
    <add key="IsTargetRP" value="false"/>
    <add key="TargetFP" value="5.0"/>
    <add key="IsTargetFP" value="false"/>
    <add key="TargetT" value="38"/>
    <add key="Concentration" value="40"/>
    <add key="PEFlushOut" value="1000"/>
    <add key="PEFlushIn" value="500"/>
    <add key="SP_Speed" value="5.0"/>
    <add key="SP_RapidInjectionValue" value="5.0"/>   
    <add key="PaccUpper" value="500"/>
    <add key="PaccLower" value="-250"/>
    <add key="PartUpper" value="250"/>
    <add key="PartLower" value="-250"/>
    <add key="PvenUpper" value="250"/>
    <add key="PvenLower" value="0"/>
    <add key="P1stUpper" value="250"/>
    <add key="P1stLower" value="-300"/>
    <add key="P2ndUpper" value="400"/>
    <add key="P2ndLower" value="-100"/>
    <add key="TmpUpper" value="250"/>
    <add key="TmpLower" value="-100"/>
    <add key="PrePaccLower" value="0"/>
    <add key="PrePvenUpper" value="0"/>
    <add key="PrePartUpper" value="0"/>
    <add key="BloodLeak" value="1900"/> 
  </PEConfig>
  <PDFConfig name="PDF" ID="6">
    <add key="BPSpeed" value="100.0" />
    <add key="BPDirection" value="true" />
    <add key="BPValid" value="true" />
    <add key="FPSpeed" value="30.0" />
    <add key="FPDirection" value="true" />
    <add key="FPValid" value="true" />
    <add key="DPSpeed" value="30.0" />
    <add key="DPDirection" value="true" />
    <add key="DPValid" value="true" />
    <add key="RPSpeed" value="30.0" />
    <add key="RPDirection" value="true" />
    <add key="RPValid" value="true" />
    <add key="FP2Speed" value="30.0" />
    <add key="FP2Direction" value="true" />
    <add key="FP2Valid" value="false" />
    <add key="CPSpeed" value="30.0" />
    <add key="CPDirection" value="true" />
    <add key="CPValid" value="false" />
    <add key="dehydrationSpeed" value="0.0"/>
    <add key="dehydrationValid" value="false"/>
    <add key="TargetTimeH" value="06" />
    <add key="TargetTimeMin" value="00" />
    <add key="IsTargetTime" value="true" />
    <add key="TargetBP" value="5.0" />
    <add key="IsTargetBP" value="true" />
    <add key="TargetDP" value="5.0" />
    <add key="IsTargetDP" value="true" />
    <add key="TargetSP" value="200.0" />
    <add key="IsTargetSP" value="true" />
    <add key="TargetRP" value="5.0" />
    <add key="IsTargetRP" value="true" />
    <add key="TargetFP" value="5.0" />
    <add key="IsTargetFP" value="false" />
    <add key="Concentration" value="40" />
    <add key="PEFlushOut" value="1000" />
    <add key="PEFlushIn" value="2000" />
    <add key="SP_Speed" value="5.0" />
    <add key="SP_RapidInjectionValue" value="5.0" />
    <add key="TargetT" value="38" />
    <add key="PaccUpper" value="500" />
    <add key="PaccLower" value="-250" />
    <add key="PartUpper" value="250" />
    <add key="PartLower" value="-250" />
    <add key="PvenUpper" value="250" />
    <add key="PvenLower" value="0" />
    <add key="P1stUpper" value="250" />
    <add key="P1stLower" value="-300" />
    <add key="P2ndUpper" value="400" />
    <add key="P2ndLower" value="-100" />
    <add key="TmpUpper" value="250" />
    <add key="TmpLower" value="-100" />
    <add key="PrePaccLower" value="0" />
    <add key="PrePvenUpper" value="0" />
    <add key="PrePartUpper" value="0" />
    <add key="BloodLeak" value="1900" />
  </PDFConfig>
  <appSettings>   
    <!--存储及网络设置-->
    <add key="SaveFolder" value="D:\"/>
    <add key="Server_Name" value="192.168.1.1"/>
    <add key="Server_dbName" value="db_test"/>
    <add key="Server_User" value="sa"/>
    <add key="Server_Pwd" value="admin"/>
    <!--当前治疗模式-->
    <add key="CurrentMethod" value="PEConfig"/>
    <add key="LiALS" value="0"/>
    <add key="PP" value ="0"/>
    <add key="PE" value ="0"/>
    <add key="PDF" value ="0"/>
    <add key="PERT" value ="0"/>
    <add key="CHDF" value ="0"/> 
    <!--SP设置-->
    <add key="SP_20Len" value="69.8"/>
    <add key="SP_30Len" value="80.9"/>
    <add key="SP_50Len" value="76.2"/>
    <add key="SP_Speed" value="5.0"/>
    <add key="SP_RapidInjectionValue" value="5.0"/>
    <!--清洗量设置-->
    <add key ="PE_Flushdose_Inside" value="1000"/>
    <add key ="PE_Flushdose_Outside" value="500"/>
    <add key ="PP_Flushdose_Inside" value="1000"/>
    <add key ="PP_Flushdose_Outside" value="500"/>
    <add key ="CHDF_Flushdose_Inside" value="1000"/>
    <add key ="CHDF_Flushdose_Outside" value="500"/>  
    <!--称重标定参数-->
    <add key ="1_0kgcode" value="5535"/>
    <add key="1_5kgcode" value="0"/>
    <add key="1_10kgcode" value="6541631"/>
    <add key="weigh1_resolution" value="0.00153"/>
    <add key ="2_0kgcode" value="10492"/>
    <add key="2_5kgcode" value="0"/>
    <add key="2_10kgcode" value="6011425"/>
    <add key="weigh2_resolution" value="0.001666"/>
    <add key ="3_0kgcode" value="6604"/>
    <add key="3_5kgcode" value="0"/>
    <add key="3_10kgcode" value="5880648"/>
    <add key="weigh3_resolution" value="0.001702"/>
    <!--数据库连接-->
    <add key="ConnectionString" value="Server=localhost;database=db_als;port=3306;uid=root;pwd=root;charset=utf8"/>
    <add key="ConnectionString_Data" value="Server=localhost;database=artificial_liver;port=3306;uid=root;pwd=root;charset=utf8"/>
  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
