<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--当前治疗模式-->
    <add key="CurrentMethod" value="CHDF" />
    <!--SP设置-->
    <add key="SP_20Len" value="69.8" />
    <add key="SP_30Len" value="80.9" />
    <add key="SP_50Len" value="76.2" />
    <add key="SP_Standard" value="50" />
    <!--清洗量设置-->
    <add key="peflush1" value="1000" />
    <add key="peflush2" value="500" />
    <add key="ppflush1" value="1000" />
    <add key="ppflush2" value="500" />
    <add key="chdfflush1" value="1000" />
    <add key="chdfflush2" value="500" />
    <add key="lialsflush1" value="1500" />
    <add key="lialsflush2" value="2000" />
    <add key="pefflush1" value="1500" />
    <add key="pefflush2" value="1500" />
    <add key="pdfflush1" value="1000" />
    <add key="pdfflush2" value="500" />
    <!--称重标定参数-->
    <!--<add key="1_0kgcode" value="176618" />
    <add key="1_5kgcode" value="2414336" />
    <add key="1_10kgcode" value="6541631" />
    <add key="weigh1_resolution" value="0.002246" />
    <add key="2_0kgcode" value="113311" />
    <add key="2_5kgcode" value="4244096" />
    <add key="2_10kgcode" value="6011425" />
    <add key="weigh2_resolution" value="0.001216" />
    <add key="3_0kgcode" value="50737" />
    <add key="3_5kgcode" value="4036956" />
    <add key="3_10kgcode" value="5880648" />
    <add key="weigh3_resolution" value="0.001261" />-->
    <add key="PumpSpeedChange" value="0" />
    <!--创新模式治疗参数-->
    <add key="LeadBloodTime" value="4" />
    <add key="LeadBloodSpeed" value="30" />
    <!--数据库连接-->
    <add key="ConnectionString" value="Server=localhost;database=db_als;port=3306;uid=root;pwd=root;charset=utf8" />
    <add key="ConnectionString_Data" value="Server=localhost;database=artificial_liver;port=3306;uid=root;pwd=root;charset=utf8" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualBasic" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>